body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.8rem;
    background-color: #EFE2BA;
    color: darkslategrey;
    margin: 0;
}

h1{
    font-family: 'Cardo', serif;
    color: #EFE2BA;
    font-size: 8vw;
    padding-bottom: 3rem;
}

h2{
    font-family: 'Cardo', serif;
    color: #EFE2BA;
}

h3,h4{
    font-family: 'Cardo', serif;
    color: #4056A1;
}

header{
    /* background-image: url(/img/fem_nobprize@552x300.png); */
    background-color: #4056A1;
    margin: 0;
    max-width: 100vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    margin-left: 1rem;
    background-color: #EFE2BA;
    border-radius: 1rem;
    border: 0;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-family: 'Cardo', serif;
    font-size: 1rem;
    color: #4056A1;
    font-size: 1.5rem;
}

.main{
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0;
}

.intro{
    background-color: #C5CBE3;
    /* margin-top: -3rem; */
    margin: 0;
    padding: 1rem;
    width: 100%;

}

.year{
    background-color: #F13C20;
    width: 100%;
    color:#C5CBE3;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category{
    background-color: #D79922;
    width: 100%;
    color:#C5CBE3;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-wrapper{
    display: flex;
    justify-content: space-around;
}

select{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;

}

.before{
    display: none;
}

.before-c{
    display: none;
}

.select-category-wrapper{
    display: flex;
    justify-content: space-around;
}

.option-list{
    background-color: #C5CBE3;
}

@media only screen and (min-device-width: 1224px){

    h1{
        font-size: 6vw;
        padding: 2rem;
    }

    .img-wrap{
        background-image: url(/img/fem_nobprize@552x300.png);
        align-self: baseline;
        width: 650px;
        height: 300px;
        background-repeat: no-repeat;
        mix-blend-mode: multiply;
        padding: 0;
    }

    header{
        display: flex;
        flex-direction: row-reverse;
        padding: 0;
        max-width: 100vw;
        max-height: 300px;
    
    }

    .intro{
        width: 50%;
    }

    .year{
        width: 50%;
    }

    .category{
        width: 50%;
    } 

}
